body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --app-white:#faf4f4;
  --app-black:#292727;
  --app-ligth-grey:#f4f4f4;
  --app-dark-grey:#858181;
  --app-border-radius:4px;
  --app-padding:4px
}

/* global-classes */
.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}