
:root{
  --app-theme-color:#43b581;
  --app-red:#ff6363;
  --app-blue:#3280fc;
  --app-white:#f3f3f3;
  --app-black:#292727;
  --app-ligth-grey:#f7fafc;
  --app-mid-grey:#abb2b9;
  --app-dark-grey:#374151;
  --app-darkest-grey:#1a202c;
  --app-border-radius:4px;
  --app-padding:4px;
  --app-margin:4px;
  --app-border-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  /* --app-border-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); */
}
/* theme colors */
[data-theme="light"] {
  --background-color: var(--app-white);
  --text-color: var(--app-black);
  --halfway-color: var(--app-ligth-grey);
  --hover-color:var(var(--app-mid-grey))
}
[data-theme="dark"] {
  --background-color: var(--app-darkest-grey);
  /* --background-color: var(--app-black); */
  --text-color: var(--app-white);
  --halfway-color: var(--app-dark-grey);
}
/* general */
body {

  font-family: Rubik,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--halfway-color);

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  scrollbar-width: none; 
  -ms-overflow-style: none;
}


*::-webkit-scrollbar {
  display: none; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* global-classes */
.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexLeft{
  display: flex;
  align-items: center;
}
@media screen and (max-width: 850px) {
  .flexLeft{
    text-align: center;
    display: block;
  }
}

.App{
  display: flex;
  background-color: var(--halfway-color);
  min-width: 650px;
}
