
.chatWrapper{
    background-color: var(--background-color);
    border-radius: var(--app-border-radius);
  margin: var(--app-margin);
  padding: var(--app-padding);
  height: 98svh;
  display: flex;
}
.sidebar{
    margin: var(--app-margin);
    padding: var(--app-padding);
    /* min-width: 350px; */
    display: flex;
    flex-direction: column;
}
.sidebar header, .chat header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--halfway-color);
    height: 40px;
}
.chat{
    flex-grow: 1;
    margin: var(--app-margin);
    padding: var(--app-padding);
    display: flex;
    flex-direction: column;

}

@media only screen and (max-width: 768px) {
    .chatWrapper{
        display: flex;
        flex-direction: column;
    }
    .chat{
        overflow-y: scroll;
    }
    .sidebar{
        max-height: 40%;
    }
    .newConversation ul{
        max-height: 200px;
    }
}
.chatContainer{
 margin: var(--app-margin);
    padding: var(--app-padding);
    background-color: var(--halfway-color);
    border-radius: var(--app-border-radius);
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
    padding-bottom: 50px;
}


.msgInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding-left: var(--app-padding);
    border-radius: 15px;
    width: 50%;
    max-width: 350px;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%);
}
.msgInput input{
    outline: none;
    background-color: var(--background-color);
    border: none;
    flex-grow: 1;
    padding-left: 8px;
}
.sendBtn{
    padding: var(--app-padding);
    background-color: var(--app-blue);
    border-radius: 0  15px 15px 0;
    cursor: pointer;
    border: none;
}
.newConversation{
    display: flex;
    flex-direction: column;
    max-height: 250px;
    margin: var(--app-margin);
    padding: var(--app-padding);
    border: 2px solid var(--halfway-color);
    border-radius: var(--app-border-radius);
    background-color: var(--halfway-color);

}
.newConversation input{
    outline: none;
    background-color: var(--background-color);
    border: none;
    border-radius: var(--app-border-radius);
    width: 100%;
    padding: var(--app-padding);
}
.newConversation ul{
    flex-grow: 1;
    overflow-y: scroll;
}
.newConversation li{
    list-style: none;
    margin: var(--app-margin);
    padding: var(--app-padding);
    cursor: pointer;
    border-radius: var(--app-border-radius);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
}
.newConversation li p{
    margin: var(--app-margin);
}
.convoUl{
    list-style: none;
    flex-grow: 1;
    overflow-y: scroll;
}
.convoUl li{
    display: flex;
    justify-content: space-between;
    border-radius: var(--app-border-radius);
    background-color: var(--halfway-color);
    margin: var(--app-margin);
    padding: var(--app-padding);
    cursor: pointer;
}
.convoUl li span{
    font-size: 0.8rem;
}
.liUsername{
    flex-grow: 1;
    padding:0 var(--app-padding) ;
}
.active{
    background-color: var(--app-theme-color) !important;
}
.senderMsg{
    border-radius: 4px 4px 0 4px;
    background-color: var(--app-theme-color);
    margin: var(--app-margin);
    padding: var(--app-padding);
    max-width: 80%;
    margin-left: auto;
}
.senderMsg p:nth-child(2){
    margin-top: var(--app-margin);
    text-align: right;
    display:flex;
    align-items: center;
}
.recieverMsg{
    border-radius: 4px 4px 4px 0;
    background-color: var(--app-blue);
    margin: var(--app-margin);
    padding: var(--app-padding);
    max-width: 80%;
    margin-right: auto;
}
.recieverMsg p:nth-child(2){
    margin-top: var(--app-margin);
    text-align: left;
    display:flex;
    align-items: center;
}
.recieverMsg p:nth-child(2) span,.senderMsg p:nth-child(2) span  {
  margin:0 4px;
  font-size: 0.7rem;
}
.loadingSpinner svg{
    margin: 0 auto;
    height: 40px;
    width: 40px;
}