.container{
   display: flex;
   height: 100%;

}
.myJobs, .appliedJobs{
    background-color: var(--background-color);
    padding: var(--app-padding);
    border-radius: var(--app-border-radius);
    height: 100%;
    flex: 0.5;
    margin: var(--app-margin);
}
.myJobs header,.addBtn{
    border-bottom: 2px solid var(--halfway-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--app-padding);
}
.addBtn{
    background-color: var(--app-theme-color);
    border: none;
    border-radius: var(--app-border-radius);
    cursor: pointer;
}
