.container {
  display: flex;
  height: 99%;
  overflow-x: scroll;
}
.myJobs,
.appliedJobs {
  background-color: var(--background-color);
  padding: var(--app-padding);
  border-radius: var(--app-border-radius);
  height: 100%;
  flex: 0.5;
  margin: var(--app-margin);
  display: flex;
  flex-direction: column;

  display: flex;
  flex-direction: column;

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 529px) and (max-width: 768px) {

}

@media only screen and (max-width: 529px) {
  .container{
    flex-direction: column-reverse;
  }
  .appliedJobs{
    height: 70%;
  }
  .tags > div{
    width: 100%;
  }
}
.myJobs header {
  border-bottom: 2px solid var(--halfway-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--app-padding);
}
.appliedJobs  header {
  border-bottom: 2px solid var(--halfway-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--app-padding);
}
 .header{
  height: 49.6px;
}

.myJobsList, .appliedJobsList{
    overflow: scroll;
    flex-grow: 1;
    margin-top: var(--app-margin);
    overflow: scroll;
    flex-grow: 1;
    margin-top: var(--app-margin);
}
.jobListItem {
  background-color: var(--halfway-color);
  padding: var(--app-padding);
  border-radius: var(--app-border-radius);
  margin: var(--app-margin);
}
.jobListItem header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--background-color);
}
.jobListItem section {
  border-bottom: 2px solid var(--background-color);
  padding: var(--app-padding);
  margin: var(--app-margin);
}
.jobListItem ul {
  padding: var(--app-padding);
  margin: var(--app-margin);
}
.jobListItem li {
  list-style: none;
}
.showBtn{
    display: inline-block;
}
.applicantList li{
    background-color: var(--background-color);
    border-radius: var(--app-border-radius);
    padding:8px;
    margin: var(--app-margin);
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.applicantData p{
  display: flex;
  align-items: center;
  margin: var(--app-margin);
}
.applicantData p:first-child{
  display: inline-block;
}


.newJobForm{
  background-color: var(--halfway-color);
  padding: var(--app-padding);
  border-radius: var(--app-border-radius);
  margin: var(--app-margin);
}
.inpField{
  display: flex;
  align-items: center;
  
  padding: var(--app-padding);
  margin: var(--app-margin);

}
.inpField input{
  outline: none;
  background-color: var(--background-color);
  padding: var(--app-padding);
  border-radius: var(--app-border-radius);
  margin: var(--app-margin);
  border: none;
  flex-grow: 1;
}
.description{
  padding: var(--app-padding);
  margin: var(--app-margin);
}
.description textarea{
  width: 100%;
  background-color: var(--background-color);
  padding: var(--app-padding);
  border-radius: var(--app-border-radius);
  outline: none;
  border: none;
  min-height: 150px;
}
.tags{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  padding: var(--app-padding);

  margin: var(--app-margin);

}
.tags > div{
  background-color: var(--background-color);
  border-radius: var(--app-border-radius);
  padding: var(--app-padding);
  margin: var(--app-margin);

}
.tags select{
  width: 100%;
  background-color: var(--halfway-color);
  outline: none;
  border: none;
  border-radius: var(--app-border-radius);

}
.tags input{
  background-color: var(--halfway-color);
  outline: none;
  padding: var(--app-padding);
  border-radius: var(--app-border-radius);
  margin: var(--app-margin);
  border: none;
}
.newJobForm footer{
  display: flex;
  justify-content: right;
  padding: var(--app-padding);

  margin: var(--app-margin);

}
.applicantBtn span:first-child{ 
    background-color: var(--app-red);
} 
.spinner{
  text-align: center;
}
.spinner svg{
  height: 40px;
  width: 40px;
}

.accepted {
  border-radius: var(--app-border-radius);
  border: 2px solid var(--app-theme-color);
  padding: 2px;
}
.pending {
  border-radius: var(--app-border-radius);
  border: 2px solid var(--app-blue);
  padding: 2px;
}

.declined {
  border-radius: var(--app-border-radius);
  border: 2px solid var(--app-red);
  padding: 2px;
}
.info{
  display: flex;
  align-items: center;
  padding: var(--app-padding);
  margin: var(--app-margin);
}
.statistics{
  height: 200px;
  background-color: var(--halfway-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--app-padding);
  margin: var(--app-margin);
  border-radius: var(--app-border-radius);

}