.container {
  display: flex;
  height: 99%;
  overflow-x: scroll;
}
.myJobs,
.appliedJobs {
  background-color: var(--background-color);
  padding: var(--app-padding);
  border-radius: var(--app-border-radius);
  height: 100%;
  flex: 0.5;
  margin: var(--app-margin);
  display: flex;
  flex-direction: column;

}
.myJobs header {
  border-bottom: 2px solid var(--halfway-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--app-padding);
}
/* .addBtn {
  background-color: var(--app-theme-color);
  border: none;
  border-radius: var(--app-border-radius);
  cursor: pointer;
} */
.myJobsList {
    overflow: scroll;
    flex-grow: 1;
    margin-top: var(--app-margin);
}
.jobListItem {
  background-color: var(--halfway-color);
  padding: var(--app-padding);
  border-radius: var(--app-border-radius);
  margin: var(--app-margin);
}
.jobListItem header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--background-color);
}
.jobListItem section {
  border-bottom: 2px solid var(--background-color);
  padding: var(--app-padding);
  margin: var(--app-margin);
}
.jobListItem ul {
  padding: var(--app-padding);
  margin: var(--app-margin);
}
.jobListItem li {
  list-style: none;
}
.showBtn{
    display: inline-block;
}
.applicantList li{
    background-color: var(--background-color);
    border-radius: var(--app-border-radius);
    padding:8px;
    margin: var(--app-margin);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .applicantBtn span{
    border-radius: var(--app-border-radius);
    padding: var(--app-padding);
    margin: var(--app-margin);
    cursor: pointer;
    background-color: var(--app-theme-color);

}
.applicantBtn span:first-child{ 
    background-color: var(--app-red);
} */
