.jobs {
  /* display:flex; */
  position: relative;
  height: 100svh;
  overflow: scroll;
}

.jobList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: var(--app-margin);
}

@media (max-width: 1200px) {
  .jobList {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media (max-width: 768px) {
  .jobList {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media (max-width: 480px) {
  .jobList {
    grid-template-columns: 1fr;
  }
}

.search {
  margin: var(--app-margin);
  border-radius: var(--app-border-radius);
  background-color: var(--background-color);
  height: 150px;
}
.job {
  margin: var(--app-margin);
  border-radius: var(--app-border-radius);
  background-color: var(--background-color);
  padding: var(--app-padding);
  position: relative;
  display: flex;
  flex-direction: column;
}
.job footer,
.jobUsername {
  display: flex;
  font-size: 0.8rem;
  opacity: 0.5;
  justify-content: space-between;
  margin-top: auto;
}

.job footer div {
  display: flex;
  align-items: center;
}
.jobContent {
}
.jobHeader {
  display: flex;
  align-items: center;
}
