.jobs {
  position: relative;
  height: 100svh;
  overflow: scroll;
}

.jobList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: var(--app-margin);
}

@media only screen and (min-width: 768px) {
  .jobList {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .panel {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .panelItem {
    flex: 1 1 auto;
    max-width: none;
    margin: 0 10px;
    box-sizing: border-box;
  }
  .panelBtn {
    flex-direction: column;
    margin-left: auto;
  }
}

@media only screen and (min-width: 529px) and (max-width: 768px) {
  .jobList {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .panel {
    display: flex;
    flex-wrap: wrap;
  }
  .panelItem {
    flex: 0.5;
  }
  .panelItem:nth-child(3){
    flex-grow: 1;
  }
  .panelBtn {
    flex: 0.1;
    flex-direction: column;
    margin-left: auto;
  }
}

@media only screen and (max-width: 529px) {
  .jobList {
    grid-template-columns: 1fr;
  }
  .radioContainer {
    flex-direction: column;
  }
  .panel {
    max-width: 1000px;
    margin: 0 auto;
  }
  .panelItem {
    border-radius: var(--app-border-radius);
    background-color: var(--halfway-color);
    margin: var(--app-margin);
    padding: var(--app-padding);
    text-align: center;
  }
}

.search {
  margin: 0 var(--app-margin);
  border-radius: var(--app-border-radius);
  background-color: var(--background-color);
  padding: var(--app-padding);
}
.barAndFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--app-margin) auto;
  max-width: 1000px;
}
.bar {
  border-radius: var(--app-border-radius);
  background-color: var(--halfway-color);
  display: flex;
  align-items: center;
  padding: var(--app-padding);
  width: 100%;
  margin: var(--app-margin);
}
.bar input {
  background-color: var(--halfway-color);
  border: none;
  outline: none;
  width: 100%;
}
.bar button {
  margin: 0;
}
.filter {
  background-color: var(--halfway-color);
  padding: 02px var(--app-padding);
  border-radius: var(--app-border-radius);
  cursor: pointer;
}
.filter:hover {
  background-color: var(--app-theme-color);
}

.panel {
  max-width: 1000px;
  margin: 0 auto;
}

.panelItem {
  border-radius: var(--app-border-radius);
  background-color: var(--halfway-color);
  margin: var(--app-margin);
  padding: var(--app-padding);
  text-align: center;
}

.panelBtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: var(--app-padding);
}
.panelBtn button {
  margin-bottom: var(--app-margin);
  background-color: var(--halfway-color);
  border: none;
  border-radius: var(--app-border-radius);
  padding: var(--app-padding);
  cursor: pointer;
  width: 55px;
  height: 31px;
}
.panelBtn button:hover {
  background-color: var(--app-theme-color);
}

.sort {
  margin: 0 auto;
  text-align: center;
}
.sort select {
  outline: none;
  border: none;
  background-color: var(--halfway-color);
}

.radioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--app-margin);
}
.radioContainer label {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin: var(--app-margin);
}
.radioContainer input[type="radio"] {
  margin-right: 5px;
}
.range {
  display: flex;
  align-items: center;
  justify-content: center;
}

.job {
  margin: var(--app-margin);
  border-radius: var(--app-border-radius);
  background-color: var(--background-color);
  padding: var(--app-padding);
  position: relative;
  display: flex;
  flex-direction: column;
}
.job footer,
.jobUsername {
  display: flex;
  font-size: 0.8rem;
  opacity: 0.5;
  justify-content: space-between;
  margin-top: auto;
}

.job footer div {
  display: flex;
  align-items: center;
}

.jobHeader {
  display: flex;
  align-items: center;
}
