.sidebarMain {
  background-color: var(--background-color);
  /* border-radius: 0 var(--app-border-radius) var(--app-border-radius) 0; */
  height: 100svh;
  width: 25%;
  max-width: 275px;
  text-align: center;
  position: relative;
  overflow: hidden;


}
.SideBarLogo {
  /* color: var(--app-theme-color); */
  padding: var(--app-color);
}
.SideBarLogo svg {
  font-size: 65px;
}
.SideBarLogo > div {
  text-align: left;
  margin-left: 3px;
}
.SideBarLogo > div h2 {
  margin: 0;
}
.navButtons {
  border-radius: 8px;
  padding: var(--app-padding);
  padding-left: 8px;
  margin: 10px;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}
.navButtons p {
  margin-left: 6px;
}
.navButtons:hover {
  background-color: var(--app-theme-color);
  box-shadow: var(--app-border-shadow);
}
.active{
  background-color: var(--app-theme-color);
}
.toggle {
  border-radius: var(--app-border-radius);
  padding: var(--app-padding);
  margin: var(--app-margin);
  background: var(--halfway-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 150px;
  width: 100%;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
}
.toggle > div {
  border-radius: 20px;
  padding: var(--app-padding);
  font-size: 0.9rem;
  cursor: pointer;
  width: 50%;
}
.toggle svg {
  font-size: 1.4rem;
}
.toggleActive {
  box-shadow: var(--app-border-shadow);
  background-color: var(--background-color);
  color: blueviolet;
}

.avatarCntainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--app-padding);
  margin: var(--app-margin);
  background: var(--halfway-color);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: var(--app-border-shadow);
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}
.avatarCntainer div {
  text-align: left;
  /* margin-left: 6px; */
}
.avatarCntainer p {
  margin-left: 6px;
}
.avatarCntainer div :last-child {
  font-size: 0.7rem;
}

@media screen and (max-width: 850px) {
  .avatarCntainer p,
  .avatarCntainer > svg,
  .SideBarLogo h2,
  .toggle span,
  .navButtons p {
    display: none;
  }
  .toggle,.avatarCntainer{
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .toggle >div{
    width: 100%;
  }
  .sidebarMain{
    width: 10%;
    text-align: center;
  }
  .navButtons{
    margin: 2px;
    padding: 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}
.breakLine{
  width: 90%;
  background-color: var(--halfway-color);
  margin: 5px auto;
  height: 2px;
}