.sidebarMain {
  background-color: var(--app-white);
  border-radius: 0 var(--app-border-radius) var(--app-border-radius) 0;
  height: 100svh;
  width: 25%;
  max-width: 300px;
  text-align: center;
  position: relative;
}
.SideBarLogo {
  color: var(--app-black);
  padding: var(--app-padding);
}
.SideBarLogo svg {
  font-size: 65px;
}
.SideBarLogo > div {
  text-align: left;
  margin-left: 3px;
}
.SideBarLogo > div h2 {
  margin: 0;
}
.navButtons{
    background-color: var(--app-ligth-grey);
    border-radius: 20px;
    padding: var(--app-padding);
    margin: var(--app-margin);
    color: var(--app-dark-grey);
    cursor: pointer;
}
.navButtons p{
   margin-left: 6px;
}
.navButtons:hover{
   background-color: var(--app-dark-grey);
   color: var(--app-black);
}
.toggle{
    border-radius: var(--app-border-radius);
    padding: var(--app-padding);
    margin: var(--app-margin);
    background: var(--app-ligth-grey);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%);
}
.toggle > div{
    border-radius: 20px;
    padding: var(--app-padding);
    font-size: 0.9rem;
    cursor: pointer;
    width: 50%;

}
.toggle svg{
    font-size: 1.4rem;
}
.toggleActive{
    box-shadow: var(--app-border-shadow);
    background-color: var(--app-white);

}